<div *ngIf="song">
	<h2><mat-icon *ngIf="!song.public" class="md">lock</mat-icon>{{ song.name }}</h2>
	<p>{{ 'SONG.FORM.AUTHOR' | translate }}: {{ song.author }}</p>
	<p>{{ 'SONG.FORM.LENGTH' | translate }}: {{ song.length }} sek.</p>
	<audio
		controls
		autoplay
		[src]="song.url"
		(waiting)="emitStateChange('LOADING')"
		(stalled)="emitStateChange('STALLED')"
		(pause)="emitStateChange('PAUSED')"
		(play)="emitStateChange('PLAYING')"
		(error)="emitStateChange('STALLED')"
		(ended)="emitStateChange('FINISHED')"
		(abort)="emitStateChange('STALLED')"
		(playing)="emitStateChange('PLAYING')"
		(suspend)="emitStateChange('PAUSED')"
	></audio>
	<button mat-icon-button (click)="showPlaylistDialog()">
		<mat-icon>list</mat-icon>
	</button>
	<br />
	<a mat-stroked-button routerLink="/songs/{{ song.id }}/edit">{{
		'SONG.FORM.EDIT' | translate
	}}</a>
</div>
