<form id="newSongForm" (ngSubmit)="addSong($event)" [formGroup]="songForm">
	<label for="name">{{ 'NEW_SONG.FORM.NAME' | translate }} </label>
	<input
		type="text"
		id="name"
		formControlName="name"
		[placeholder]="'NEW_SONG.FORM.NAME_PLACEHOLDER' | translate"
	/>
	<label for="url">{{ 'NEW_SONG.FORM.URL' | translate }}</label>
	<input id="url" type="text" formControlName="url" placeholder="https://..." />
	<label for="length">{{ 'NEW_SONG.FORM.LENGTH' | translate }}</label>
	<input id="length" formControlName="length" type="number" step="1" />
	<label for="author">{{ 'NEW_SONG.FORM.AUTHOR' | translate }}</label>
	<input id="author" name="author" type="text" list="authors" formControlName="author" />
	<datalist id="authors">
		<option *ngFor="let author of authors$ | async" [value]="author.name">{{
			author.name
		}}</option>
	</datalist>
	<button [disabled]="songForm.invalid" type="submit">
		{{ 'NEW_SONG.FORM.SUBMIT' | translate }}
	</button>
</form>
