<header id="header">
	<h1 id="title">{{ title }}</h1>
</header>
<aside id="aside">
	<nav id="sideNav">
		<ul>
			<li>
				<a routerLink="songs">{{ 'SHELL.NAV.SONGS' | translate }}</a>
			</li>
			<li>
				<a routerLink="songs/new">{{ 'SHELL.NAV.NEW_SONG' | translate }}</a>
			</li>
			<li>
				<a routerLink="genres">{{ 'SHELL.NAV.GENRES' | translate }}</a>
			</li>
			<li>
				<a routerLink="playlists">{{ 'SHELL.NAV.PLAYLISTS' | translate }}</a>
			</li>
			<li>
				<a routerLink="playlists/new">{{ 'SHELL.NAV.NEW_PLAYLIST' | translate }}</a>
			</li>
		</ul>
	</nav>
</aside>
<main id="main">
	<router-outlet></router-outlet>
</main>
