/* You can add global styles to this file, and also import other style files */
* {
	box-sizing: border-box;
	border: unset;
	background-color: unset;
	font-family: Arial, Helvetica, sans-serif;
	padding: unset;
	margin: unset;
	color: unset;
	text-decoration: unset;
}

:root {
	--col-primary: rgb(136, 30, 218);
	--col-primary-disabled: rgb(64, 47, 78);
	--col-accent: rgb(173, 244, 176);
}

body,
html {
	min-width: 100vw;
	min-height: 100vh;
}

input,
select {
	border: 1px solid gray;
}

button {
	padding: 5px;
	background-color: var(--col-primary);
	color: white;
}

button:not([disabled]) {
	cursor: pointer;
}

button[disabled] {
	background-color: var(--col-primary-disabled);
}
